@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Itim", cursive;
  background-color: #fff8ea;
  color: #9e7676;
  margin-bottom: 5rem;
}

a {
  text-decoration: none;
}

small {
  color: #815b5b;
}

h1,
h2,
h3,
h4,
h5 {
  color: #594545;
}

:root {
  --transition: all 400ms ease;
}

::-webkit-scrollbar {
  display: none;
}

.navbar-custom {
  background-color: #594545;
  color: #fff;
}

#head {
  background-color: #d7c0ae;
  padding: 2% 15%;
  text-align: center;
}

/* #resumerow1 {
  padding: 5% 27% 1% 27%;
  background-color: #fff8ea;
  margin-top: 1rem;
} */

#resumerow1 {
  padding: 1% 5%;
  background-color: #fff8ea;
  margin-top: 1rem;
}

#resumerow2 {
  padding: 1% 5%;
  background-color: #fff8ea;
  margin-top: 1rem;
}

#resumerow3 {
  padding: 1% 5%;
  background-color: #fff8ea;
  margin-top: 1rem;
}

#resumerow4 {
  padding: 1% 5%;
  background-color: #fff8ea;
  margin-top: 1rem;
}

.Member-box {
  text-align: center;
  margin-top: 1.5rem;
}

.resume {
  font-size: 1.2rem;
}

.headder {
  text-align: center;
  margin-top: 1.5rem;
}

.logo {
  border-radius: 50%;
  width: 18%;
  margin-top: 1rem;
  /* box-shadow: 0 0 20px black; */
  border: 1px solid black;
}

/* ------------------ MEDIA QUERIES (MEDIUM DEVICES)------------------ */

@media screen and (max-width: 768px) {
  #resumerow1 {
    padding: 1% 5% !important;
    background-color: #fff8ea;
    margin-top: 1rem;
  }
  .logo {
    border-radius: 50%;
    width: 25%;
    margin-top: 1rem;
    border: 1px solid black;
  }
}

@media screen and (max-width: 426px) {
  .logo {
    border-radius: 50%;
    width: 50% !important;
    margin-top: 1rem;
    border: 1px solid black;
  }
}
